<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <property name="LOGS" value="./logs" />

	<!-- Logger to show mysql query params  -->
	<logger name="org.hibernate.type.descriptor.sql" level="trace"/>
	
    <logger name="com.sensei.app" level="INFO"/>

    <logger name="io.github.jhipster" level="ERROR"/>

    <logger name="javax.activation" level="ERROR"/>
    <logger name="javax.mail" level="ERROR"/>
    <logger name="javax.xml.bind" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="com.codahale.metrics" level="ERROR"/>
    <logger name="com.ryantenney" level="ERROR"/>
    <logger name="com.sun" level="ERROR"/>
    <logger name="com.zaxxer" level="ERROR"/>
    <logger name="io.undertow" level="ERROR"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="ERROR"/>
    <logger name="org.elasticsearch" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="org.springframework.cache" level="ERROR"/>
    <logger name="org.thymeleaf" level="ERROR"/>
    <logger name="org.xnio" level="ERROR"/>
    <logger name="springfox" level="ERROR"/>
    <logger name="sun.rmi" level="ERROR"/>
    <logger name="liquibase" level="ERROR"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>
    <logger name="sun.rmi.transport" level="ERROR"/>

</configuration>
